<h2>Clients</h2>

<% if @clients.any? %>
   <ul class='list'>
     <% @clients.each do |client| %>
       <li><a href="/clients/<%= client.id %>"><h4><%= client.name %></h4></a></li>
     <% end %>
   </ul>
<% else %>
  <p>
    There are no clients add one.
  </p>
<% end %>

<form action="clients" method="post">
  <div class="form-group">
    <label for="name">Enter name of client:</label>
    <input type="text" name="name" class='form-control'>
  </div>
  <button class'btn btn-primary'>Submit</button>
</form>
