<h2>Stylists</h2>

<% if @stylists.any? %>
   <ul class='list'>
     <% @stylists.each do |stylist| %>
       <li><a href="/stylists/<%= stylist.id %>"><h4><%= stylist.name %></h4></a></li>
       <ul>
         <% stylist.clients.each do |client| %>
           <li>Client: <%= client.name %></li>
         <% end %>
       </ul>
     <% end %>
   </ul>
<% else %>
  <p>
    There are no stylists add one.
  </p>
<% end %>

<form action="stylists" method="post">
  <div class="form-group">
    <label for="name">Enter name of stylist:</label>
    <input type="text" name="name" class='form-control'>
  </div>
  <button class'btn btn-primary'>Submit</button>
</form>
